.Menu
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 30px;
}
.Menu li {
    margin-right: 20px; /* Ajoute un espace entre les éléments de la liste */
  }
  
  .Menu li:last-child {
    margin-right: 0; /* Supprime le margin-right du dernier élément */
  }
  .Menu ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}
@media (min-width: 321px) and (max-width: 425px) {
    .Menu ul {
        gap: 0px; /* Prioritaire pour les écrans de 321px ou moins de largeur */
    }
    .Menu {
        font-size: 20px; /* Ajoute une taille de police de 20px */
    }
    .banner {
        width: 60%;
        /* Ajoutez d'autres styles selon vos besoins */
    }}
